<body>
  <h1>Bienvenido</h1>
    <h2>Crear usuario</h2>
      <h3><p>Recuerda ningun campo puede quedar en blanco</p></h3>
    <br>
    <%= render 'form' %>
  <h4><%= link_to 'Regresar', users_path %></h4>
</body>
