
<h1>Bienvenido</h1>
  <h3>Es un placer servirle de herramienta para hacer su labor más efectiva</h3>
    <p>Tenga presente que los items deben ser elaborados acorde a la acción que desempeñada por el evaluado</p>
  <%= render 'form' %>
<%= link_to 'Regresar', evaluation_items_path(@evaluation) %>
