<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Notificación</title>
</head>
	<body style="background-color: white; padding-top: 20px; ">
		<table style="max-width: 600px; padding: 10px; margin:0 auto; border-collapse: collapse;">
			<tr>
				<td style="background-color:  #87CEEB; text-align: center; padding: 0">		
					<div>
						<h4 style="font-family: sans-serif">E. B. “Nicandro Arvelo Angúlo”<br>
						Departamento de evaluación<br>
						Sistema-SEDAL</h4>
					</div>
				</td>
			</tr>
			<tr>
				<td style="background-color: #f1f1f1">
					<div style="color: #34495e; margin: 4% 10% 2%; text-align: justify;font-family: sans-serif">
						<h2 style="color: #e67e22; margin: 0 0 7px">Hola! <%= @evaluated.name %></h2>
						<p style="margin: 2px; font-size: 15px">
							<h3>Notificación de evaluación pendiente.</h3>
				
								Hola! <%= @evaluated.name %>, La E. B. “Nicandro Arvelo Angúlo” a través del Sistema de Evaluación del Desempeño Académico Laboral (SEDAL),
								hace de tu conocimiento que tienes una evaluación pendiente por resolver, para lo cual puedes acceder a ella haciendo
                clic en el botón de abajo.<br><br>
                Te deseamos buena suerte y éxito en el desarrollo de esta evaluación.
						</p>
							<h4>Juntos podemos alcanzar grandes metas..!</h4>
								<br>
								<br>
						<div style="width: 100%; text-align: center">
							<%= link_to "Acceder",  new_test_url(evaluation_id: @evaluation.id, user_id: @evaluated.id), style:"text-decoration: none; border-radius: 5px; padding: 11px 23px; color: white; background-color: #3498db" %>
						</div>
						<br>
						<hr>
						<p style="color: gray; font-size: 12px; text-align: center;margin: 30px 0 0">
								E. B. “Nicandro Arvelo Angúlo”<br>
								Departamento de evaluación<br>
								Email: ebnicandro@gmail.com
						</p>
					</div>
				</td>
			</tr>
		</table>
	</body>
</html> 
