<div class="hide-pdf">
  <footer class="footer">
    <div class="text-info">
      <div>
        <strong>SEDAL</strong><br>
        Monachil, Provincia de Granada CP 18193, España<br>
        Email: josemejias081@gmail.com
      </div>
    </div>
    <nav>
      <small style="color: blue;">
        Desarrollador <a href="http://www.chichemejias.com/">Jose Mejias</a>
      </small>
      <ul>
        <li>Contacto</li>
        <li>Nosotros</li>
      </ul>
    </nav>
  </footer>
</div>
